<!DOCTYPE html>
<html>
	<head>
		<script
			crossorigin
			src="https://unpkg.com/react@17/umd/react.development.js"
		></script>
		<script
			crossorigin
			src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
		></script>
		<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/babel">
			class CtbEmployerAdd extends React.Component {
				constructor(props) {
					super(props);
					this.state = {
						newEmployerNameEng: '',
						newEmployerNameNep: '',
					};
					this.handleApiAddCtbEmployer =
						this.handleApiAddCtbEmployer.bind(this);
					this.handleHumanInputChange = this.handleHumanInputChange.bind(this);
				}

				componentDidMount() {}

				fetchCtbEmployers() {
					console.log('fetchCtbEmployers', this.state);
				}

				handleApiAddCtbEmployer(e) {
					e.preventDefault();
					const { newEmployerNameEng, newEmployerNameNep } = this.state;
					if (!newEmployerNameEng || !newEmployerNameNep) {
						return;
					}
					var query_request = `
						mutation {
							createCtbEmployer(employerNameEng:"${newEmployerNameEng}", employerNameNep:"${newEmployerNameNep}"){
								ctbEmployer{
								employerId,
								employerNameEng,
								employerNameNep
								}
							}
						}`;
					fetch('/graphql', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({
							query: query_request,
						}),
					})
						.then((response) => response.json())
						.then((data) => {
							this.fetchCtbEmployers();
							this.setState({ newEmployerNameEng: '', newEmployerNameNep: '' });
						});
				}

				handleHumanInputChange(e) {
					console.log('handleHumanInputChange', this.state, 'e', e);
					this.setState({ [e.target.name]: e.target.value });
				}

				render() {
					const { newEmployerNameEng, newEmployerNameNep } = this.state;
					return (
						<div>
							<h1>App Ctb Employer</h1>
							<div>{JSON.stringify(this.state)}</div>

							<input
								type='text'
								name='newEmployerNameEng'
								placeholder='NameEng'
								value={newEmployerNameEng}
								onChange={this.handleHumanInputChange}
							/>
							<input
								type='text'
								name='newEmployerNameNep'
								placeholder='NameNep'
								value={newEmployerNameNep}
								onChange={this.handleHumanInputChange}
							/>
							<button type='submit' onClick={this.handleApiAddCtbEmployer}>
								Add Ctb Employer
							</button>
						</div>
					);
				}
			}

			ReactDOM.render(<CtbEmployerAdd />, document.getElementById('root'));
		</script>
	</body>
</html>
