<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Links</h1>
		<b>Bank</b>
		<a href="/bank_add">bank_add, </a><br />
		<b>Menu</b>
		<a href="/menu_add">menu_add, </a>
		<a href="/menu_list">menu_list, </a>
		<a href="/menu_list_edit">menu_list_edit, </a>
		<a href="/menu_edit">menu_edit, </a>
		<a href="/menu_delete">menu_delete, </a>
		<a href="/menu">menu</a>

		<br />
		<b>Ctb Address </b>
		<a href="/ctb_address_add_static">ctb_address_add_static, </a>
		<a href="/ctb_address_add_dynamic">ctb_address_add_dynamic, </a>
		<a href="/ctb_address_list_only">ctb_address_list_only, </a>
		<a href="/ctb_address_list_edit">ctb_address_list_edit, </a>
		<a href="/ctb_address_edit">ctb_address_edit, </a>
		<a href="/ctb_address_delete">ctb_address_delete, </a>

		<br />
		<b>Ctb Person </b>
		<a href="/ctb_person_add_static">ctb_person_add_static, </a>
		<a href="/ctb_person_add_dynamic">ctb_person_add_dynamic, </a>
		<a href="/ctb_person_list_only">ctb_person_list_only, </a>
		<a href="/ctb_person_list_edit">ctb_person_list_edit, </a>
		<a href="/ctb_person_edit">ctb_person_edit, </a>
		<a href="/ctb_person_delete">ctb_person_delete, </a>

		<br />
		<b>Ctb Person Address</b>
		<a href="/ctb_person_address_add_static">ctb_person_address_add_static, </a>
		<a href="/ctb_person_address_add_dynamic"
			>ctb_person_address_add_dynamic,</a
		>
		<a href="/ctb_person_address_list_only">ctb_person_address_list_only, </a>
		<a href="/ctb_person_address_list_edit">ctb_person_address_list_edit, </a>
		<a href="/ctb_person_address_edit">ctb_person_address_edit, </a>
		<a href="/ctb_person_address_delete">ctb_person_address_delete, </a>

		<br />
		<b>Ctb Person Dependent</b>
		<a href="/ctb_person_dependent_add_static"
			>ctb_person_dependent_add_static,
		</a>
		<a href="/ctb_person_dependent_add_dynamic"
			>ctb_person_dependent_add_dynamic,
		</a>
		<a href="/ctb_person_dependent_list_only"
			>ctb_person_dependent_list_only,
		</a>
		<a href="/ctb_person_dependent_list_edit"
			>ctb_person_dependent_list_edit,
		</a>
		<a href="/ctb_person_dependent_edit">ctb_person_dependent_edit, </a>
		<a href="/ctb_person_dependent_delete">ctb_person_dependent_delete, </a>

		<br />
		<b>Ctb Person Nominee</b>
		<a href="/ctb_person_nominee_add_static">ctb_person_nominee_add_static, </a>
		<a href="/ctb_person_nominee_add_dynamic"
			>ctb_person_nominee_add_dynamic,
		</a>
		<a href="/ctb_person_nominee_list_only">ctb_person_nominee_list_only, </a>
		<a href="/ctb_person_nominee_list_edit">ctb_person_nominee_list_edit, </a>
		<a href="/ctb_person_nominee_edit">ctb_person_nominee_edit, </a>
		<a href="/ctb_person_nominee_delete">ctb_person_nominee_delete, </a>

		<br />
		<b>Ctb Person Contact</b>
		<a href="/ctb_person_contact_add_dynamic"
			>ctb_person_contact_add_dynamic,
		</a>
		<a href="/ctb_person_contact_list_only">ctb_person_contact_list_only, </a>
		<a href="/ctb_person_contact_list_edit">ctb_person_contact_list_edit, </a>
		<a href="/ctb_person_contact_edit">ctb_person_contact_edit, </a>
		<a href="/ctb_person_contact_delete">ctb_person_contact_delete, </a>

		<br />
		<b>Ctb Person Doc</b>
		<a href="/ctb_person_doc_add_dynamic">ctb_person_doc_add_dynamic, </a>
		<a href="/ctb_person_doc_list_only">ctb_person_doc_list_only, </a>
		<a href="/ctb_person_doc_list_edit">ctb_person_doc_list_edit, </a>
		<a href="/ctb_person_doc_edit">ctb_person_doc_edit, </a>
		<a href="/ctb_person_doc_delete">ctb_person_doc_delete, </a>

		<br />
		<b>Ctb Contributor</b>
		<a href="/ctb_contributor_add_dynamic">ctb_contributor_add_dynamic, </a>
		<a href="/ctb_contributor_list_only">ctb_contributor_list_only, </a>
		<a href="/ctb_contributor_list_edit">ctb_contributor_list_edit, </a>
		<a href="/ctb_contributor_edit">ctb_contributor_edit, </a>
		<a href="/ctb_contributor_delete">ctb_contributor_delete, </a>

		<br />
		<b>Ctb Special Loan</b>
		<a href="/ctb_special_loan_add_dynamic">ctb_special_loan_add_dynamic, </a>
		<a href="/ctb_special_loan_edit_and_delete"
			>ctb_special_loan_edit_and_delete,
		</a>

		<br />
		<b>Ctb User Tran Verifications</b>
		<a href="/ctb_user_tran_verifications_add_dynamic"
			>ctb_user_tran_verifications_add_dynamic,
		</a>
		<a href="/ctb_user_tran_verifications_edit_and_delete"
			>ctb_user_tran_verifications_edit_and_delete,
		</a>

		<br />
		<b>DCtb Submission</b>
		<a href="/dctb_submission_add_dynamic">dctb_submission_add_dynamic, </a>
		<a href="/dctb_submission_edit_and_delete"
			>dctb_submission_edit_and_delete,
		</a>

		<br />
		<b>Atb Disbursement Process</b>
		<a href="/atb_disbursement_process_add_dynamic"
			>atb_disbursement_process_add_dynamic,
		</a>
		<a href="/atb_disbursement_process_edit_and_delete"
			>atb_disbursement_process_edit_and_delete,
		</a>
	</body>
</html>
