<!DOCTYPE html>
<html>
	<head>
		<script
			crossorigin
			src="https://unpkg.com/react@17/umd/react.development.js"
		></script>
		<script
			crossorigin
			src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
		></script>
		<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/babel">
			class CtbPersonDependentDelete extends React.Component {
				constructor(props) {
					super(props);
					this.state = {
						ctbPersonDependents: [],
					};
					this.handleApiDeleteCtbPersonDependent =
						this.handleApiDeleteCtbPersonDependent.bind(this);
				}

				componentDidMount() {
					this.fetchCtbPersonDependents();
				}

				fetchCtbPersonDependents() {
					var query_request = `
						query{
							ctbPersonDependents{
								orderNo,
								entryBy,
								rStatus
						}
				}`;
					fetch('/graphql', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({
							query: query_request,
						}),
					})
						.then((response) => response.json())
						.then((res) => {
							this.setState({
								ctbPersonDependents: res.data.ctbPersonDependents,
							});
						});
				}

				handleApiDeleteCtbPersonDependent(ctbPersonDependent) {
					console.log('handleApiDeleteCtbPersonDependent', this.state);
					var query_request = `
						mutation {
							createCtbPersonDependent(entryBy:"${ctbPersonDependent.entryBy}", rStatus:"${ctbPersonDependent.rStatus}"){
								ctbPersonDependent{
									entryBy,
									rStatus,
								}
							}
						}`;
					fetch('/graphql', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({
							query: query_request,
						}),
					})
						.then((response) => response.json())
						.then((data) => {
							this.fetchCtbPersonDependents();
						});
				}

				render() {
					const { ctbPersonDependents, editingCtbPersonDependent } = this.state;
					return (
						<div>
							<h1>App Ctb Person Dependents </h1>
							<div>{JSON.stringify(this.state)}</div>
							<ul>
								{ctbPersonDependents.map((ctbPersonDependent) => (
									<li key={ctbPersonDependent.orderNo}>
										{ctbPersonDependent.entryBy} - {ctbPersonDependent.rStatus}
										<button
											onClick={() =>
												this.handleApiDeleteCtbPersonDependent(
													ctbPersonDependent
												)
											}
										>
											Delete
										</button>
									</li>
								))}
							</ul>
						</div>
					);
				}
			}

			ReactDOM.render(
				<CtbPersonDependentDelete />,
				document.getElementById('root')
			);
		</script>
	</body>
</html>
