<!DOCTYPE html>
<html>
	<head>
		<script
			crossorigin
			src="https://unpkg.com/react@17/umd/react.development.js"
		></script>
		<script
			crossorigin
			src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
		></script>
		<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/babel">
			class StbContributorSalDetAdd extends React.Component {
				constructor(props) {
					super(props);
					this.state = {
						newFromDate: '',
						newToDate: '',
					};
					this.handleApiAddStbContributorSalDet =
						this.handleApiAddStbContributorSalDet.bind(this);
					this.handleHumanInputChange = this.handleHumanInputChange.bind(this);
				}

				componentDidMount() {}

				fetchStbContributorSalDets() {
					console.log('fetchStbContributorSalDets', this.state);
				}

				handleApiAddStbContributorSalDet(e) {
					e.preventDefault();
					const { newFromDate, newToDate } = this.state;
					if (!newFromDate || !newToDate) {
						return;
					}
					var query_request = `
						mutation {
							createStbContributorSalDet(fromDate:"${newFromDate}", toDate:"${newToDate}"){
								stbContributorSalDet{
									id,
									fromDate,
									toDate
								}
							}
						}`;
					fetch('/graphql', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({
							query: query_request,
						}),
					})
						.then((response) => response.json())
						.then((data) => {
							this.fetchStbContributorSalDets();
							this.setState({ newFromDate: '', newToDate: '' });
						});
				}

				handleHumanInputChange(e) {
					console.log('handleHumanInputChange', this.state, 'e', e);
					this.setState({ [e.target.name]: e.target.value });
				}

				render() {
					const { newFromDate, newToDate } = this.state;
					return (
						<div>
							<h1>App Stb Contributor Sal Det</h1>
							<div>{JSON.stringify(this.state)}</div>

							<input
								type='text'
								name='newFromDate'
								placeholder='newFromDate'
								value={newFromDate}
								onChange={this.handleHumanInputChange}
							/>
							<input
								type='text'
								name='newToDate'
								placeholder='newToDate'
								value={newToDate}
								onChange={this.handleHumanInputChange}
							/>
							<button
								type='submit'
								onClick={this.handleApiAddStbContributorSalDet}
							>
								Add Stb Contributor Sal Det
							</button>
						</div>
					);
				}
			}

			ReactDOM.render(
				<StbContributorSalDetAdd />,
				document.getElementById('root')
			);
		</script>
	</body>
</html>
