<!DOCTYPE html>
<html>
	<head>
		<script
			crossorigin
			src="https://unpkg.com/react@17/umd/react.development.js"
		></script>
		<script
			crossorigin
			src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
		></script>
		<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/babel">
			class App extends React.Component {
				constructor(props) {
					super(props);
					this.state = {
						banks: [],
						newName: '',
						newCapital: '',
						editingBank: null,
					};
					this.handleEditBank = this.handleEditBank.bind(this);
					this.handleUpdateBank = this.handleUpdateBank.bind(this);
					this.handleEditingBankChange =
						this.handleEditingBankChange.bind(this);
				}

				componentDidMount() {
					this.fetchBanks();
				}

				fetchBanks() {
					fetch('/app-banks')
						.then((response) => response.json())
						.then((data) => {
							this.setState({ banks: data });
						});
				}

				handleEditBank(bank) {
					this.setState({ editingBank: bank });
				}

				handleUpdateBank(e) {
					console.log('handleUpdateBank', this.state);
					e.preventDefault();
					const { editingBank } = this.state;
					if (!editingBank) {
						return;
					}
					fetch(`/app-banks/${editingBank.id}`, {
						method: 'PUT',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({
							name: editingBank.name,
							capital: editingBank.capital,
						}),
					})
						.then((response) => response.json())
						.then((data) => {
							this.fetchBanks();
							this.setState({ editingBank: null });
						});
				}

				handleEditingBankChange(e) {
					const { editingBank } = this.state;
					this.setState({
						editingBank: { ...editingBank, [e.target.name]: e.target.value },
					});
				}

				render() {
					console.log('render', this.state);
					const { banks, newName, newCapital, editingBank } = this.state;
					return (
						<div>
							<ul>
								{banks.map((bank) => (
									<li key={bank.id}>
										{bank.name} - {bank.capital}
										<button onClick={() => this.handleEditBank(bank)}>
											Edit
										</button>
									</li>
								))}
							</ul>
							{editingBank && (
								<form onSubmit={this.handleUpdateBank}>
									<input
										type='text'
										name='name'
										placeholder='Name'
										value={editingBank.name}
										onChange={this.handleEditingBankChange}
									/>
									<input
										type='text'
										name='capital'
										placeholder='Capital'
										value={editingBank.capital}
										onChange={this.handleEditingBankChange}
									/>
									<button type='submit'>Update Bank</button>
									<button onClick={() => this.setState({ editingBank: null })}>
										Cancel
									</button>
								</form>
							)}
						</div>
					);
				}
			}

			ReactDOM.render(<App />, document.getElementById('root'));
		</script>
	</body>
</html>
